body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #f4f4f4db;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    color: black;
}
form{
 background-color: antiquewhite;
 max-width: 400px;
 margin: 0;
 padding: 20px;
 border-radius: 5px;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

label{
    display: block;
    margin-bottom:5px;
    font-weight: bold;
}

input[type="text"], input[type="email"], textarea{
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 5px solid #ccc;
    border-radius: 3px;
}

input[type="submit"]{
    background-color: blue;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover{
    background-color: aquamarine;
}


