body{
    background-color: antiquewhite;
    font-family: 'Times New Roman', Times, serif;
}

input{
    width: 200px;
    height: 10px;
    background-color: white;
    border: px solid black;
    border-radius: 10px;
    color: black;
    font-size: 1.5em;
    margin: 30px;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    text-align: center;
}

.main{  
    height: 50%;
    width: 80%;
    background-color: blue;
    margin: auto;
    border-radius: 10px;
}

div p{
    border: px solid black ;
    border-radius: 5px;
    background-color: pink;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    height: 35px;

}


div.A{
    border: px solid black;
    float: inline-start;
    margin-left: 10%;
}

div.P{
    float: inline-start;
    border: px solid black;
}

div.Q{
    float: inline-start;
    border: px solid black;
}

div.R{
    float: inline-start;
    border: px solid black;
}

div.lastline{
    margin-right: 21%;
    border: px solid black;
    clear: both;
    text-align: end;
    
}

button{
    height: 50px;
    width: auto;
    background-color: black;
    border: px solid white;
    color: aliceblue;
    margin: 30px;
    transition: 0.2;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

button:hover{
    background-color: white;
    color: black;
    border: px solid black;
    transition: 150ms;
}

h1{
    text-align: center;
}