body{
    background-color: gray;
}
h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}
button{
    border-radius: 25px;
    height: 120px;
    width: 125px;
    background-color: black;
    border: 2px solid white;
    color: aliceblue;
    margin: 30px;
    transition: 0.2;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

button:hover{
    background-color: white;
    color: black;
    border: 2px solid black;
    transition: 150ms;
}

button