.block1
{
    background-color: rgb(223, 142, 37);
    float: left;
    height: 200px;
    width: 200px;
    margin: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-color:bisque;
}

.block2
{
margin: 20px;
margin-left: 20px;
height: 200px;
width: 200px;
text-align: center;

background-color: blue;
float :right;
}

.block3
{
    margin-left: 20px;
    height: 100px;
    width: 150px;

    background-color: brown;
    clear: both;
}