body{
    margin: 0;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
    background-attachment: fixed;
    background-color: beige;
    
}

.card{
    background-color: antiquewhite;
    border-radius: 5px;
    height: 350px;
    width: 400px;
    border: solid black;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
    box-shadow: 5px;
}
.card h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
.card h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
.card p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
